*
{
    margin: 0;
    padding: 0;
}
body
{
   font-family: sans-serif; 
   font-size:medium;
}
.header-container
{
 position: sticky;
    top: 0;
    background-color:white;
    z-index: 1;
}
.header
{
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 200px;
    margin-top: 2px;
    align-items: center;
   

}


.header__logo img
{
    width: 100px;
    transform: scale(1.9);
    
}

.header__info
{
    display: flex;
    justify-content: space-between;
    position: absolute;
    font-weight: lighter;
    right:40%;

}

.info-btn
{
    border: solid white 10px;
    background-color: transparent;
    border-radius: 20px;
    font-family: sans-serif; 
   font-size:medium;
}

.info-btn:hover
{
     border: solid rgb(232, 230, 230) 10px; 
    background-color: rgb(232, 230, 230);
}
.btn1
{
    border: solid white 10px;
    background-color: transparent;
    border-radius: 20px;
    margin: 20px;
    font-size: 16px;
}
.btn1:hover
{
    border: solid rgb(232, 230, 230) 10px; 
    background-color: rgb(232, 230, 230);
}

.btn__sign-in
{
    background-color: #143C24;
    color: white;
    font-weight: bolder;
    font-size: large;
    border-radius: 20px;
    width: 80px;
    height: 40px;
}


.categories
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap:30px;
}
.categories h1
{
    font-size: 50px;
    font-weight: bolder;
}

.categories__btn
{
     border: solid white 10px;
    background-color: transparent;
    font-size: larger;
    
}

.categories__btn:focus
{
    border-bottom: outset black 3px;
}

.categories__search-bar
{
    border:solid black 0.5px;
    background-color: whitesmoke;
    border-radius: 60px;
    padding: 10px;
  width: 600px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
position: relative;
}

.categories__search-bar i{
    position: absolute;
    left: 20px;
}

.categories__search-bar input
{
    outline: none;
    border: none;
    position: absolute;
    left:50px;
    width:500px;
    background-color: transparent;
}

.categories__search-btn
{
    position: absolute;
    right: 5px;
    border: solid black 1px;
    background-color: #00EB5B;
    width: 100px;
    height: 50px;
    border-radius: 60px;
    font-family: sans-serif; 
   font-size:medium;
}

.demo
{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 1100px;
height: 350px;
background-color: #00EB5B;
position: absolute;
left: 180px;
border-radius: 10px;
}
.video-area
{
    position: relative;
    left: 20px;
    top: 0px;
    width: 580px;
    height: 360px;
}
.video-area video
{
    border-radius: 10px;
}
.vl
{
    border-left: solid black 1px;
    height: 320px;
    position: relative;
    top:20px;
    right: 20%;
}
.text-area
{
    position: relative;
}
.heading
{
    width: 300px;
    position: absolute;
    top:20%;
    right: 100px;
    font-size: large;
    font-weight:3000;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.sub-heading
{
    position: absolute;
    top:60%;
    right: 80px;
     width: 350px;
}

.booknow
{
    position: absolute;
    bottom: 15%;
    right: 220px;
    background-color: #143C24;
    color: white;
    font-weight: bolder;
    font-size: medium;
    border-radius: 20px;
    width: 100px;
    height: 40px;

}

.dummy
{
    height: 1000px;
}

.interest
{position: relative;
    top: 400px;
    margin-left: 180px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
}

.interest p{
    margin-top: 20px;
}

.img-container
{
    display: flex;
    gap:30px;
}
.interest img
{
    margin-right: 10px;
    width: 250px;
    height: 250px;
    border-radius: 20px
}


.footer
{
    position: relative;
    top:500px;
    display: flex;
    flex-direction: row;
    margin-left: 200px;
   
}

.footer-content
{
    display: flex;
    margin: 20px;
    flex-direction: column;
}